# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
*.egg-info/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store

# Models and data (optional)
# src/realm_testing/anon_shield/models/
# src/realm_testing/anon_shield/data/
